@model SyntacsApp.Models.ErrorResultViewModel

<div class="wrapper">
    <h2>@Model.Error.DetailedName</h2>

    <section class="top-error">

        <h3>Example</h3>
        <p>@Model.Error.Votes</p>
        <form asp-controller="ErrorResult" asp-action="ErrorVote" asp-route-id="@Model.Error.ID">
            <input type="hidden" asp-for="@Model.Error.DetailedName" />
            <input type="hidden" asp-for="@Model.Error.Votes" />
            <button type="submit" name="vote" value="1">UpVote</button>
        </form>
        <div class="code-snippet">
            @foreach (var line in Model.CodeFormat)
            {

                if (line.Contains("\t"))
                {
                    <p>&emsp;@line</p>
                }
                else
                {
                    <p>@line</p>
                }
            }
        </div>
        <div>
            <p>@Model.Error.Description</p>
        </div>
    </section>

    <div class="comment">
        <br />
        <hr />
        <h2>Comment Section</h2>

        @foreach (var comment in Model.Comments)
        {
            <form class="upvote" asp-controller="ErrorResult" asp-action="UpVote">
                <input type="hidden" asp-for="@comment.ID" />
                <input type="hidden" asp-for="@comment.UpVote" />
                <input type="hidden" asp-for="@Model.Error.DetailedName" />
                <button type="submit" asp-for="@comment.UpVote" name="vote" value="1">UpVote</button>
            </form>
            <form class=" delete" asp-controller="ErrorResult" asp-action="Delete">
                <input type="hidden" asp-for="@comment.ID" />
                <input type="hidden" asp-for="@Model.Error.DetailedName" />
                <input type="submit" value="Remove Comment" />
            </form>
            <p>@comment.Alias</p>
            <p>Comment: @comment.CommentBody</p>
            <p>votes: @comment.UpVote</p>
        }

        <form method="post" asp-controller="ErrorResult" asp-action="Create" asp-route-id="@Model.Error.ID">

            <label asp-for="User.Alias">Alias</label>
            <input asp-for="User.Alias" />
            <br />

            @Html.TextArea("CommentBody", "Enter comment", new {
                                           @class = "comment", rows = 5, cols = 30 })
            <br />

            <input type="hidden" asp-for="@Model.Error.DetailedName" />
            <button type="submit">Add comment</button>
        </form>
    </div>
</div>