@model SyntacsApp.Models.ErrorResultViewModel

<div class="wrapper">
    <h2>@Model.Error.DetailedName</h2>

    <div>
        <p>Description Div</p>
    </div>
    <div>
        <section class="top-error">

            <h3>Example</h3>

            <div class="code-snippet">
                @foreach (var line in Model.CodeFormat)
                {

                    if (line.Contains("\t"))
                    {
                        <p>&emsp;@line</p>
                    }
                    else
                    {
                        <p>@line</p>
                    }
                }
            </div>
        </section>
    </div>
    <div>
        <h2>Console Div</h2>
    </div>
    <div class="comment">
        <h2>Comment Section</h2>

        @foreach (var comment in Model.Comments)
        {
            <p>Alias:@comment.Alias</p>
            <p>Comment: @comment.CommentBody</p>

        }

            <form method="post" asp-controller="ErrorResult" asp-action="Create" asp-route-id="@Model.Error.ID">

                <label asp-for="User.Alias">Alias</label>
                <input asp-for="User.Alias" />
                <br />

                <label asp-for="Comment.CommentBody">Enter Comment</label>
                <input asp-for="Comment.CommentBody" />
                <br />

                <input type="hidden" asp-for="@Model.Error.ID" />
                <input type="hidden" asp-for="@Model.Error.ErrorCategoryID" />
                <input type="hidden" asp-for="@Model.Error.DetailedName" />
                <input type="hidden" asp-for="@Model.Error.Link" />
                <input type="hidden" asp-for="@Model.Error.Rating" />
                <input type="hidden" asp-for="@Model.Error.Votes" />
                <input type="hidden" asp-for="@Model.Error.Link" />
                <input type="hidden" asp-for="@Model.Error.CodeExample" />
                <input type="hidden" asp-for="@Model.Error.Description" />

                <button type="submit">Add comment</button>
            </form>
    </div>
</div>