@model SyntacsApp.Models.ErrorResultViewModel

<div class="container col-lg-8">
    <section class="container top-error col-lg-11">
        <h3>Top Error</h3>
        <p>@Model.Error.DetailedName</p>
        <p>Current Votes: @Model.Error.Votes</p>
        <div class="col-lg-10 code-snippet">
            @foreach (var line in Model.CodeFormat)
            {

                if (line.Contains("\t"))
                {
                    <p>&emsp;@line</p>
                }
                else
                {
                    <p>@line</p>
                }
            }
        </div>
        <div class="descript" style="margin:5vh auto;">
            <p>@Model.Error.Description</p>
            @{
                if (!String.IsNullOrEmpty(Model.Error.Link))
                {
                    <a id="link" href="@Model.Error.Link">link to docs</a>
                }
            }
        </div>
    </section>
</div>